---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";

import about from "../images/about.jpg";
import team1 from "../images/team1.png";
import team2 from "../images/team2.png";
import team3 from "../images/team3.png";
---

<MainLayout title="About The FruitLovers Blog">
  <h1 class="text-4xl font-bold mb-5 text-teal-600"> About FruitLovers</h1>
  <div class="flex flex-col md:flex-row items-center justify-between gap-6">
    <div class="w-full md:w-1/2 mb-8 md:mb-0">
        <Image src={about} alt="Fruit Lovers Team" class="w-full h-auto rounded-lg shadow-xl border-4 border-orange-400"/>
    </div>
    <div class="w-full md:w-1/2">
        <h2 class="text-3xl font-extrabold text-teal-700 mb-4">
            Who We Are
        </h2>
        <p class="text-gray-800 leading-relaxed mb-6">
            We are Fruit Lovers, a passionate team dedicated to exploring the world of fruits. Our blog brings you the latest articles, recipes, and tips on a variety of fruits, their benefits, and innovative ways to enjoy them.
        </p>
        <p class="text-gray-800 leading-relaxed mb-6">
            Our mission is to share our love for fruits and help our readers discover new and exciting ways to incorporate them into their lives. Whether you’re a fruit aficionado, a health enthusiast, or just curious about new flavors, we’ve got something for you.
        </p>
    </div>
  </div>

  <!-- Team -->
  <div class="mt-10">
    <h2 class="text-3xl font-extrabold text-teal-700 mb-8">
      Our Team
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      <div class="bg-white shadow-lg rounded-lg overflow-hidden border-2 border-red-300 transition-transform transform hover:scale-105">
          <Image src={team1} alt="Team Member 1" class="w-full h-auto"/>
          <div class="p-6">
              <h3 class="text-xl font-semibold text-gray-900 mb-2">First Team</h3>
              <p class="text-gray-600">Our Farmers</p>
          </div>
      </div>
      <div class="bg-white shadow-lg rounded-lg overflow-hidden border-2 border-yellow-300 transition-transform transform hover:scale-105">
        <Image src={team2} alt="Team Member 2" class="w-full h-auto"/>
          <div class="p-6">
              <h3 class="text-xl font-semibold text-gray-900 mb-2">Second Team</h3>
              <p class="text-gray-600">Our Transporters</p>
          </div>
      </div>
      <div class="bg-white shadow-lg rounded-lg overflow-hidden border-2 border-pink-300 transition-transform transform hover:scale-105">
        <Image src={team3} alt="Team Member 3" class="w-full h-auto"/>
          <div class="p-6">
              <h3 class="text-xl font-semibold text-gray-900 mb-2">Third Team</h3>
              <p class="text-gray-600">Our Sellers</p>
          </div>
      </div>
    </div>
  </div>
</MainLayout>
